/*! Gauge v1.0 | Code under MIT License | Copyright (c) Ajabep */
.gauge {
  position: relative;
  overflow: hidden;
  background: transparent;
  height: 20px;
  width: 100%;
}
.gauge div {
  height: 20px;
  width: 0%;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=gauge.css.map */