/*! Gauge v1.0 | Code under MIT License | Copyright (c) Ajabep */

$gaugeHeight: 20px !default;
$backgroundGauge: transparent !default;

.gauge {
	position: relative;
	overflow: hidden;
	background: $backgroundGauge;
	
	height: $gaugeHeight;
	width:100%;
	
	
	div {
		height: $gaugeHeight;
		width: 0%;
		float: left;
		position: absolute;
		top: 0;
		left: 0;
	}
	
}